<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Modify Customer</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form  th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="email" th:field="*{price}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <div>
            <label>Date</label>
            <input type="date" th:field="*{date}"/>
        </div>
        <div>
            <label>Quantity</label>
            <input type="text" th:field="*{quantity}"/>
        </div>
        <div>
            <label>Category</label>
            <select th:field="*{category}">
                <option th:each="c:${listCategory}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>
        <input type="submit" value="Modify">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>